<h1>All posts for user

<% if false %>
 <%= @user[0].name%>
 </h1> 


<% @posts.each do |post| %>
    <p> 
    <%= post.id %> 
    <%= post.title %> 
     
    </p>
    <br>
    <% end %>
    <% end %>