<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<% if false %>


 <% @posts.each do |post| %>
     <p> 
     <%= post.id %> 
     <%= post.title %> 
     
     </p>
     <br>
     <% end %>
     <% end %>