/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user_holder {
  height: 75px;
  display: flex;
}


.user_name {
  display: flex;
  width: 300px;
  height: 75px;
  margin-left: 10px;
  border: black 2px solid;
}

.posts_counter {
  margin-left: auto;
  margin-top: auto;
  margin-right: 5px;
}

.user_name_text {
  margin-left: 5px;
}

.box {
  border: black 2px solid;
}

.right {
  margin-right: auto;
}


input {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #bdc3c7 0%, #2c3e50 75%);
  margin-bottom: 10px;
}
input:hover {
  background-position: right center;
}
input:active {
  top: 2px;
}

.anchor {
  display: flex;

  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  margin-top: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000000 0%, #828e9b 100%);
  text-decoration: none;
}

label{

  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000000 0%, #828e9b 100%);
  text-decoration: none;
  margin-bottom: 2px;
}

body {
  background-color:aliceblue;
  }

  input[type=checkbox]{

      margin-left: -40px;
      
      line-height: normal;
      width: 20px;
      height: 20px;

  }

.remember{
  margin-left: -40px;
  margin-bottom: 20px;
  width: 100px;
  height: 20px;
}